{% extends "base.html.twig" %}

{% block title %} Article  {% endblock %}

{% block body %}
<div class="row flex p-5">
        
                <div class="card text-white bg-info mb-3" >
                    <div class="card-header">Publié le  {{ article.updatedAt|date('d,m,Y') }} à  {{ article.updatedAt|date('H:i') }} dans la categorie {{ article.category.name }} </div>
                    <div class="card-body">
                    <h4 class="card-title">{{ article.title }}</h4>
                    <p class="card-text">{{ article.content }}</p>
                    <a class="btn btn-warning" href="{{ path('article_edit', {slug: article.slug}) }}">Modifier</a>
                    <a class="btn btn-danger" href="{{ path('article_delete', {slug: article.slug}) }}">Supprimer</a>
                </div>
            </div>
            {% endblock %}